<div class="row">
    <div>
        <link rel="stylesheet" href="/css/theme.css">
        <h1>      UH OH BRO</h1>
        <h1>      4 - 0 - 4 [*~*]</h1>
    </div>
    <div>
        <hr>
        <h4>     Something seems to have gone wrong! Use the Navigation Menu <br> Or click Boxy's face to back to home : <a href="/">[^-^]</a></h4>
        <hr>
    </div>
</div>